<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a Todo Item:</h1>
    <form method="POST" action="add">
        <div>
            <p>
                <label for="id_name">Name: </label>
                <input type="text" id="id_name" name="item_name">
            </p>
        </div>
        <div>
            <p>
                <label for="id_done">Done: </label>
                <input type="checkbox" id="id_done" name="done">
            </p>
        </div>
        <div>
            <p>
                <button type="submit">Add Item</button>
            </p>
        </div>
    </form>
</body>
</html>
